{% extends 'base.html' %}
{% block title %}Welcome | {{ block.super }}{% endblock %}

<body>

    {% block jumbo %}
        <div class="jumbotron">

            <div class="row">

                <div class="col-md-6">
                    <h1>Fijowave Code Test</h1>
                    <p>Check out this amazing site called Fijowave by clicking the image on the right.</p>
                </div>

                <div class="col-md-6">
                    <p>
                        <a href = https://www.fijowave.com>
                        <img src = "http://www.iotglobalnetwork.com/public/img/product/6bb08245ba6a57ad8bdfb7f7de93b141.jpg" style="width:500px;height:250px;"></img>
                        </a>
                    </p>

                </div>

            </div>
        </div>
    {% endblock %}

</body>
